*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}

.wrapper {
    margin-top: 35px;
}

.slide{
    display: flex;
}
.slide:hover{
    will-change: transform;
}
.slide li{
    flex-shrink: 0;
    box-shadow: 0, 2px, 4px rgba(0, 0, 0, 0.4);
    width: 80vw;
    margin: 0 20px;
    max-width: 800px;
    border-radius: 4px;
    overflow: hidden;
    opacity: .8;
    transform: scale(0.9);
    transition: all .3s ease;
}
.slide li.active {
    opacity: 1;
    transform: scale(1);
    z-index: 300;
}
[data-control="slide"] {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
[data-control="slide"] li a{
    display: block;
    width: 15px;
    height: 15px;
    background: #ffbb55;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -300px;
    cursor: pointer;
    transition: ease 100ms all;
    margin: 4px;
}
[data-control="slide"] li a:hover{
    border: 5px solid #ee5544;
}
[data-control="slide"] li.active a {
    background: #ee5544;
    border: 5px solid #ffbb55;
}