*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}

.wrapper {
    margin-top: 35px;
}

.slide{
    display: flex;
}
.slide:hover{
    will-change: transform;
}
.slide li{
    flex-shrink: 0;
    box-shadow: 0, 2px, 4px rgba(0, 0, 0, 0.4);
    width: 80vw;
    margin: 0 20px;
    max-width: 800px;
    border-radius: 4px;
    overflow: hidden;
    opacity: .8;
    transform: scale(0.9);
    transition: all .3s ease;
}
.slide li.active {
    opacity: 1;
    transform: scale(1);
}